# Ignorar PDFs generados
*.pdf

# Ignorar reportes de Excel
*.xlsx

# Ignorar archivos temporales de Python
__pycache__/
*.pyc

# Opcional: Ignorar los XML de prueba si no quieres subirlos
# *.xml

# Node.js
node_modules/

# Builds de PyInstaller
build/
dist/
*.spec